<div class="container">

    <div>
       <table [border]="1" [cellPadding]="8" class="table table-striped">
        <thead class="thead-dark">
            <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Company</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="employees">
                <td>{{employees.id}}</td>
                <td>{{employees.name}}</td>
                <td>{{employees.email}}</td>
                <td>{{employees.phone}}</td>
                <td>{{employees.company?.name}}</td>
            </tr>
        </tbody>
       </table>
    </div>

    <a (click)="goprevious()" class="me-2">Previous</a>
    <a (click)="gonext()" class="me-2">Next</a>

    <button (click)="gotolist()">Back</button>

    <!-- 
get All employees details -->
    <!-- <div>
       <table [border]="1" [cellPadding]="8">
        <thead>
            <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Company</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of allemployees">
                <td>{{emp.id}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.phone}}</td>
                <td>{{emp.company?.name}}</td>
            </tr>
        </tbody>
       </table>
    </div>  -->


</div>